### Python ###
*.py[cod]
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### Django ###
*.log
*.pot
*.sqlite3
*.sqlite3-journal
local_settings.py
db.sqlite3

# Media và Static
media/
staticfiles/
!staticfiles/.keep  # Giữ thư mục staticfiles nhưng bỏ nội dung

### Environments ###
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv/

### IDE ###
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

### System ###
.DS_Store
Thumbs.db
desktop.ini

### Testing ###
.coverage
htmlcov/
.pytest_cache/